In [5]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [6]:
# dataframe - df
df = pd.read_csv('https://github.com/BolunDai0216/NYU21SummerSchoolML/raw/main/Day%202/dataset.csv')
df = df.dropna()

In [7]:
df.head(31)

                                  Movie  IMDB Rating              Genre
0                           Black Widow          6.9             Action
1                  Star wars A New hope          8.0          Adventure
2                    Return of the Jedi          8.3             Sci-fi
3                  Mission Impossible 6          7.7             Action
4                       The Dark Knight          9.0             Action
5                   Revenge of the Sith          7.5          Adventure
6                              Twilight          8.0    Adventure/Drama
7                            Fight Club          8.8              Drama
8                             Star Trek          7.9             Sci-fi
9                         The Conjuring          7.5   Thriller, Horror
10             The Shawshank Redemption          9.3        Crime/Drama
11           10 Things I Hate About You          8.0   Thriller, Action
12                The Dark Knight Rises          8.4             Action
13              Bahubali: The Beginning          8.0       Action/Drama
14                         Intersteller          8.6    science fiction
15                           Inception           8.8    Sci-Fi/Thriller
16                 The Space Between Us          6.4             Sci-fi
17                              Cruella          7.4       Comedy/Crime
18                             Parasite          8.6           Thriller
19                     Schindler's list          8.9            History
20                 The Lion King (1994)          8.5     Family/Musical
21                        Thor Ragnarok          7.9             Action
22                        Despicable Me          7.6   Comedy/Animation
23                         Infinity War          8.4             Action
24                            Inception          8.8             Sci-Fi
25                          The Martian          8.0             Sci-Fi
26             Demon slayer Mugen train          8.3             Anime
27  Harry Potter and the Goblet of Fire          7.7  Adventure/fantasy
28                         Interstellar          8.6             Sci-fi

In [4]:
names = df['Movie'].values
score = df['IMDB Rating'].values

### Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [4]:
## To-do

### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [3]:
# To-do

### Plot the histogram for the IMDB score
- Use [plt.hist() function](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html)
- x-axis indicates the score interval, y-axis shows the number of movies within each score interval
- make the interval length 0.5
- do not forget to put on the labels for the axes.

- numpy arange() might come in handy!

In [2]:
# To-do

### Calculate the mean and variance of the IMDB score of the movies

In [1]:
# To-do