In [6]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [9]:
# dataframe - df
df = pd.read_csv('https://github.com/asarmadi/tandon_summer2021_ml/raw/main/day02/dataset.csv')
df = df.dropna()

In [10]:
df.head(31)

                          Movie  IMDB Rating                   Genre
0                 Beautiful Boy          7.3                   Drama
1                   The Martian          8.0  Sci Fi/Drama/Adventure
2                In the Heights          7.5           Drama/Musical
3                Daddy Day Care          5.6                  Comedy
4               The Dark Knight          9.0      Action/Crime/Drama
5                  Forrest Gump          8.8               Biography
6                 Spirited Away          8.6       Adventure/Fantasy
7             The Hate you Give          7.5             Drama/Crime
8               The Dark Knight          9.0      Action/Crime/Drama
9                  Interstellar          8.6        Sci-Fi/Adventure
10                     Scarface          8.3             Drama/Crime
11         The Greatest Showman          7.6       Biography/Musical
12                         Chef          7.3                  Comedy
13                           Up          8.2        Comedy/Adventure
14  I Want to Eat Your Pancreas          8.0                   Drama
15              The Dark Knight          9.0      Action/Crime/Drama
16     The Shawshank Redemption          9.3                   Drama
17  Who Am I: No System Is Safe          7.5     Crime/Drama/Mystery
18               A Silent Voice          8.2           Drama/Romance
19                Downton Abbey          7.4           Drama/Romance
20                  The Martian          8.5         Science Fiction
21                    Your Name          8.4       Fantasy / Romance
22              The Dark Knight          9.0      Action/Crime/Drama
23               Shutter Island          8.2      mystery / Thriller
24            The Hate You Give          7.5                   Drama

In [12]:
names = df['Movie'].values
score = df['IMDB Rating'].values

### Plot the IMDB scores for all the movies
- Use the [plt.scatter() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.scatter.html)
- x-axis indicates the name of the movies, y-axis shows the score.
- do not forget to put on the labels for the axes.

In [4]:
## To-do

### Plot the number of movies for each genre
- Use the [plt.bar() function](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.bar.html)
- x-axis indicates the genre, y-axis shows the count for each genre.
- do not forget to put on the labels for the axes.

In [3]:
# To-do

### Plot the histogram for the IMDB score
- Use [plt.hist() function](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.hist.html)
- x-axis indicates the score interval, y-axis shows the number of movies within each score interval
- make the interval length 0.5
- do not forget to put on the labels for the axes.

- numpy arange() might come in handy!

In [2]:
# To-do

### Calculate the mean and variance of the IMDB score of the movies

In [1]:
# To-do